<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    <settings>-->
    <!--        &lt;!&ndash;  输出日志到控制台  &ndash;&gt;-->
    <!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    <!--    </settings>-->

    <typeAliases>
        <package name="com.day30.domain"/>
    </typeAliases>

    <mappers>
        <!--
        使用包名的要求:
            1:mapper文件必须和接口名称一致
            2.必须在同一目录下
        -->
        <package name="com.day30.dao"/>
    </mappers>
</configuration>